<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Pembayaran_Listrik_Pasca_Bayar.My.MySettings.db_pem_listrik_pbConnectionString"
            connectionString="server=localhost;user id=root;database=db_pem_listrik_pb"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>